form[data-action="/contact"] {
  @container form (min-width: 400px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    & .field-wrapper {
      grid-column: span 4;

      &:first-child,
      &:nth-child(2) {
        grid-column: span 2;
      }

      &:last-child {
        grid-column: span 2;
      }

    }
  }

  @container form (min-width: 600px) {
    & .field-wrapper:last-child {
      grid-column: span 1;
    }
  }
}