.columns.selling-points {
  padding: var(--spacing-20) var(--spacing-4);
  margin-inline: calc(var(--spacing-4) * -1);
  border-block: 1px solid var(--colors-border-border-primary);

  & > div > div {
    display: grid;
    grid-template-areas: "icon title" "icon description";
    grid-template-columns: auto 1fr;
    grid-template-rows: var(--spacing-12) auto;
    gap: var(--spacing-3) var(--spacing-6);

    & p:has(.icon) {
      grid-area: icon;
      margin: 0;
      padding: 0;
    }

    & .icon {
      border: 1px solid var(--colors-border-border-primary);
      border-radius: var(--border-radius-md);
      padding: var(--spacing-2);
      width: var(--spacing-12);
      height: var(--spacing-12);
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: var(--spacing-5);
        height: var(--spacing-5);
      }
    }

    & h3 {
      grid-area: title;
      font-size: var(--text-size-display-sm);
      font-weight: 700;
      line-height: 120%;
      margin: 0;
      padding: 0;
      align-self: center;
    }

    & p:not(:has(.icon)) {
      grid-area: description;
      align-self: flex-start;
      margin-block-start: 0;
      color: var(--colors-text-text-tertiary);
    }
  }
}