.columns-wrapper {
  container: columns / inline-size;
}

.columns.selling-points {
  padding: var(--spacing-8) var(--spacing-4);
  margin-inline: calc(var(--spacing-4) * -1);
  border-block: 1px solid var(--colors-border-border-primary);

  & > div > div {
    display: flex;
    flex-direction: column;
    padding-inline-start: var(--spacing-16);

    & p:has(.icon) {
      position: absolute;
      margin-block: 0;
      margin-inline-start: calc(var(--spacing-16) * -1);
      padding: 0;
    }

    & .icon {
      border: 1px solid var(--colors-border-border-primary);
      border-radius: var(--border-radius-md);
      padding: var(--spacing-2);
      width: var(--spacing-12);
      height: var(--spacing-12);
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: var(--spacing-5);
        height: var(--spacing-5);
      }
    }

    & h3 {
      grid-area: title;
      font-size: var(--text-size-display-sm);
      font-weight: 700;
      line-height: 120%;
      margin: 0;
      padding-block: var(--spacing-2);
      height: var(--spacing-16);
    }

    & p:not(:has(.icon)) {
      grid-area: description;
      align-self: flex-start;
      margin-block: var(--spacing-1);
      color: var(--colors-text-text-tertiary);
    }

    & ul {
      padding-inline-start: var(--spacing-4);
      color: var(--colors-text-text-tertiary);
      margin-block: 0;

      & li {
        margin-block: var(--spacing-1);
      }
    }
  }
}

.columns > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@container columns (min-width: 35rem) {
  .columns > div {
    flex-direction: row;
    gap: var(--spacing-8);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  
    &[data-align='center'] {
      text-align: center;
    }
  }

  .columns.selling-points {
    padding-block: var(--spacing-20);
  }
}

.columns.pagination.columns-2-cols {
  & > div > div {
    background: var(--colors-background-bg-quaternary);
    padding: var(--spacing-4);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;

    & .button-container {
      width: auto;
    }

    &:first-child {
      align-items: flex-start;
    }

    &:last-child {
      align-items: flex-end;
    }
  } 
}
