.section.fragment-container.full-bleed.two-columns.contact-main-page.form-container {
  & .form-wrapper {
    width: 100%;
  }
}
.section.form-container.embed-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);

  & .embed-wrapper {
    margin-inline: calc(var(--spacing-4) * -1);

    & .embed {
      margin: 0;
      aspect-ratio: 3 / 2;
      background-color: gray;
      max-width: unset;
    }
  }

  @media (min-width: 65rem) {
    & {
      display: grid;
      grid-template-areas: "content map" "form map";
      grid-template-columns: 1fr 1fr;
      row-gap: var(--spacing-8);
      column-gap: var(--spacing-16);
      grid-template-rows: auto auto;
      padding-block: 0;
      padding-right: 0;

      & .default-content-wrapper {
        grid-area: content;
        place-content: flex-end;
        display: flex;
        flex-direction: column;

        & h1 + p {
          margin-top: 0;
        }
      }

      & .form-wrapper {
        grid-area: form;
      }

      & .embed-wrapper {
        grid-area: map;
        margin-inline: unset;

        & .embed {
          margin: 0;
          aspect-ratio: 2 / 3;
          background-color: gray;
          height: 100%;
          max-width: none;
          width: 100%;
          max-height: 60rem;
        }
      }
    }
  }

  @media (min-width: 80rem) {
    & {
      max-width: unset;
      grid-template-areas: "sidebar content map map"
                          "sidebar form map map";
      grid-template-columns: var(--layout-grid-template-columns-full-bleed-two-columns);
      gap: 0;
    
      & .default-content-wrapper {
        padding-bottom: var(--spacing-4);
      }

      & .form-wrapper {
        padding-right: var(--spacing-20);
      }
    }
  }
}