.color-mode-toggle {
  --color-text: var(--colors-text-text-primary-on-brand);

  position: relative;
  border-radius: 5px;
  width: 40px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  font: inherit;
  opacity: .7;

  &:hover {
    opacity: 1;
  }

  & svg {
    position: absolute;
    overflow: hidden;
    transform: rotate(40deg);
    display: block;
    opacity: 0;
  }
}

html:not(.light-mode):not(.dark-mode) .color-mode-toggle,
html.light-mode .color-mode-toggle {
  &:not(.transition-in):not(.transition-out) {
    & #moon {
      opacity: 1;
    }

    & #sun {
      opacity: 0;
    }
  }

  &.transition-out {
    & #moon {
      -webkit-animation: rotate-out-2-bck 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: rotate-out-2-bck 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }

  &.transition-in {
    & #sun {
      -webkit-animation: rotate-in-2-bck 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: rotate-in-2-bck 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }
}

html.dark-mode .color-mode-toggle {
  &:not(.transition-in):not(.transition-out) {
    & #sun {
      opacity: 1;
    }

    & #moon {
      opacity: 0;
    }
  }

  &.transition-out {
    & #sun {
      -webkit-animation: rotate-out-2-bck 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: rotate-out-2-bck 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }
  &.transition-in {
    & #moon {
      -webkit-animation: rotate-in-2-bck 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: rotate-in-2-bck 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }
}

 @-webkit-keyframes rotate-out-2-bck {
  0% {
    -webkit-transform: translateZ(0) rotate(0);
            transform: translateZ(0) rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-180px) rotate(-45deg);
            transform: translateZ(-180px) rotate(-45deg);
    opacity: 0;
  }
}
@keyframes rotate-out-2-bck {
  0% {
    -webkit-transform: translateZ(0) rotate(0);
            transform: translateZ(0) rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-180px) rotate(-45deg);
            transform: translateZ(-180px) rotate(-45deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotate-in-2-bck {
  0% {
    -webkit-transform: translateZ(-180px) rotate(-45deg);
            transform: translateZ(-180px) rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) rotate(0);
            transform: translateZ(0) rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-2-bck {
  0% {
    -webkit-transform: translateZ(-180px) rotate(-45deg);
            transform: translateZ(-180px) rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) rotate(0);
            transform: translateZ(0) rotate(0);
    opacity: 1;
  }
}
