@import url("mobile/styles.css");
@import url("desktop/styles.css");

.header-wrapper {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header.block {
  width: 100%;
  max-width: var(--layout-max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-4xl, 2rem);
  min-height: var(--header-min-height);
  z-index: 1000;
  position: relative;
  margin: 0 auto;
  padding: var(--spacing-4, 0rem);
}

.header-brand {
  & p {
    padding: 0;
    margin: 0;
  }

  & .icon-logo {
    width: var(--spacing-40);
    display: flex;
  }
}

helix-sidekick + header .header.block > .header-nav-dropdown[open] {
  top: 3rem;
}


/*

.header-nav {
  display: none;
  background: var(--colors-background-bg-primary);
  flex: 1;
  height: 100%;
  width: 100%;
  padding: var(--spacing-4);

  & ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--layout-max-width);
    margin: 0;
    padding: 0;
    list-style: none;

    & ul {
      display: none;
    }
  }

  & a {
    text-decoration: none;
    color: var(--colors-component-buttons-secondary-button-secondary-fg);
    font-size: var(--text-size-text-md);
    font-weight: 700;
  }
}




.header-nav-dropdown-item {
  flex: 1;
  padding: 1rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: 3rem 1fr;
  color: var(--colors-text-text-tertiary);

  & .icon {
    display: flex;
    flex-basis: 3rem;
    height: 3rem;
    border: 1px solid
      var(
        --component-colors-components-buttons-primary-button-secondary,
        blue
      );
    border-radius: 5px;
    flex: 1;
  }
}

.header-nav-dropdown-item-link-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

body.has-hero .header-nav {
  background: var(--colors-background-bg-brand-section);

  & a {
    color: var(--colors-text-text-primary-on-brand);
  }
}

@media (min-width: 800px) {
  .header.block {
    justify-content: flex-start;
    align-items: center;
  }

  .header-nav {
    display: flex;

    & ul {
      flex-direction: row;
    }

    & a {
    }
  }

  .header-nav-mobile {
    display: none;
  }
}


*/