.header.block {
  display: flex;
  padding: var(--spacing-none, 0rem);
  align-items: center;
  gap: var(--spacing-4xl, 2rem);

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    & a {
      text-decoration: none;
      color: var(--component-colors-components-buttons-secondary-color-button-secondary-color-fg);
      font-size: var(--font-sizes-text-md, 1rem);
      font-weight: var(--font-weights-text-bold, 700);
      display: flex;
      padding: 0.625rem var(--spacing-xl, 1rem);
      justify-content: center;
      align-items: center;
      gap: var(--spacing-sm, 0.375rem);
      border-radius: var(--radius-md, 0.5rem);
      border: 1px solid transparent;

      &:hover {
        color: var(--component-colors-components-buttons-primary-button-primary-fg);
        border: 1px solid var(--component-colors-components-buttons-primary-button-primary-border, #B02602);
        background: var(--component-colors-components-buttons-primary-button-primary-bg, #B02602);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      }
    }
  }

  & .header-nav-dropdown {
    display: none;
  }
}
