.hero.centered-with-pretitle {
  text-align: center;
  margin-block-start: var(--header-min-height);
  padding-block: var(--header-min-height);
  background: var(--colors-background-bg-primary);

  & h1 {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  & p {
    color: var(--colors-text-text-brand-secondary);
  }
}