.hero-container {
  background: var(--colors-background-bg-brand-section);
  position: relative;
  top: calc(var(--header-min-height) * -1);
  padding-top: var(--header-min-height);
  display: flex;
}

.hero {
  max-width: var(--layout-max-width);
  margin: 0 auto;

  & h1 {
    color: var(--colors-text-text-brand-primary-on-brand, white);
  }
}
