.hero-container {
  background: var(--colors-background-bg-brand-section);
  display: flex;
  padding-block: 0;
  max-width: unset;
}

.hero-wrapper {
  width: 100%;
  max-width: var(--layout-max-width);
  margin: var(--header-min-height) auto;

  & h1 {
    color: var(--colors-text-text-brand-primary-on-brand, white);
    padding: var(--spacing-12) 0 var(--spacing-8);
  }

  & img {
    aspect-ratio: 16 / 7;
    object-fit: cover;
  }
}