@media (prefers-color-scheme: light) {
    :root {
        --colors-gray-100: #f2f4f7;
        --colors-gray-200: #eaecf0;
        --colors-gray-25: #fcfcfd;
        --colors-gray-300: #d0d5dd;
        --colors-gray-400: #98a2b3;
        --colors-gray-50: #f9fafb;
        --colors-gray-500: #667085;
        --colors-gray-600: #475467;
        --colors-gray-700: #344054;
        --colors-gray-800: #182230;
        --colors-gray-900: #101828;
        --colors-gray-950: #0c111d;
        --colors-background-bg-active: var(--colors-gray-50, #f9fafb);
        --colors-background-bg-brand-primary: var(--colors-brand-50, #f8d5cc);
        --colors-background-bg-brand-primary-alt: var(--colors-brand-50, #f8d5cc);
        --colors-background-bg-brand-secondary: var(--colors-brand-100, #f1ac9a);
        --colors-background-bg-brand-section: var(--colors-brand-800, #420e01);
        --colors-background-bg-brand-section-subtle: var(--colors-brand-700, #581301);
        --colors-background-bg-brand-solid: var(--colors-brand-600, #b02602);
        --colors-background-bg-brand-solid-hover: var(--colors-brand-700, #581301);
        --colors-background-bg-disabled: var(--colors-gray-100, #f2f4f7);
        --colors-background-bg-disabled-subtle: var(--colors-gray-50, #f9fafb);
        --colors-background-bg-error-primary: var(--colors-error-50, #fef3f2);
        --colors-background-bg-error-secondary: var(--colors-error-100, #fee4e2);
        --colors-background-bg-error-solid: var(--colors-error-600, #d92d20);
        --colors-background-bg-overlay: var(--colors-gray-950, #0c111d);
        --colors-background-bg-primary: var(--colors-base-white, #ffffff);
        --colors-background-bg-primary-solid: var(--colors-gray-950, #0c111d);
        --colors-background-bg-primary-alt: var(--colors-base-white, #ffffff);
        --colors-background-bg-primary-hover: var(--colors-gray-50, #f9fafb);
        --colors-background-bg-quaternary: var(--colors-gray-200, #eaecf0);
        --colors-background-bg-secondary: var(--colors-gray-50, #f9fafb);
        --colors-background-bg-secondary-solid: var(--colors-gray-600, #475467);
        --colors-background-bg-secondary-alt: var(--colors-gray-50, #f9fafb);
        --colors-background-bg-secondary-hover: var(--colors-gray-100, #f2f4f7);
        --colors-background-bg-secondary-subtle: var(--colors-gray-25, #fcfcfd);
        --colors-background-bg-success-primary: var(--colors-success-50, #ecfdf3);
        --colors-background-bg-success-secondary: var(--colors-success-100, #dcfae6);
        --colors-background-bg-success-solid: var(--colors-success-600, #079455);
        --colors-background-bg-tertiary: var(--colors-gray-100, #f2f4f7);
        --colors-background-bg-warning-primary: var(--colors-warning-50, #fffaeb);
        --colors-background-bg-warning-secondary: var(--colors-warning-100, #fef0c7);
        --colors-background-bg-warning-solid: var(--colors-warning-600, #dc6803);
        --colors-border-border-brand: var(--colors-brand-300, #ea8267);
        --colors-border-border-brand-solid: var(--colors-brand-600, #b02602);
        --colors-border-border-brand-solid-alt: var(--colors-brand-600, #b02602);
        --colors-border-border-disabled: var(--colors-gray-300, #d0d5dd);
        --colors-border-border-disabled-subtle: var(--colors-gray-200, #eaecf0);
        --colors-border-border-error: var(--colors-error-300, #fda29b);
        --colors-border-border-error-solid: var(--colors-error-600, #d92d20);
        --colors-border-border-primary: var(--colors-gray-300, #d0d5dd);
        --colors-border-border-secondary: var(--colors-gray-200, #eaecf0);
        --colors-border-border-tertiary: var(--colors-gray-100, #f2f4f7);
        --colors-foreground-fg-brand-primary: var(--colors-brand-600, #b02602);
        --colors-foreground-fg-brand-primary-alt: var(--colors-brand-600, #b02602);
        --colors-foreground-fg-brand-secondary: var(--colors-brand-500, #dc2f02);
        --colors-foreground-fg-disabled: var(--colors-gray-400, #98a2b3);
        --colors-foreground-fg-disabled-subtle: var(--colors-gray-300, #d0d5dd);
        --colors-foreground-fg-error-primary: var(--colors-error-600, #d92d20);
        --colors-foreground-fg-error-secondary: var(--colors-error-500, #f04438);
        --colors-foreground-fg-primary: var(--colors-gray-900, #101828);
        --colors-foreground-fg-quarterary: var(--colors-gray-500, #667085);
        --colors-foreground-fg-quarterary-hover: var(--colors-gray-600, #475467);
        --colors-foreground-fg-quinary: var(--colors-gray-400, #98a2b3);
        --colors-foreground-fg-quinary-hover: var(--colors-gray-500, #667085);
        --colors-foreground-fg-secondary: var(--colors-gray-700, #344054);
        --colors-foreground-fg-secondary-hover: var(--colors-gray-800, #182230);
        --colors-foreground-fg-senary: var(--colors-gray-300, #d0d5dd);
        --colors-foreground-fg-success-primary: var(--colors-success-600, #079455);
        --colors-foreground-fg-success-secondary: var(--colors-success-500, #17b26a);
        --colors-foreground-fg-tertiary: var(--colors-gray-600, #475467);
        --colors-foreground-fg-tertiary-hover: var(--colors-gray-700, #344054);
        --colors-foreground-fg-warning-primary: var(--colors-warning-600, #dc6803);
        --colors-foreground-fg-warning-secondary: var(--colors-warning-500, #f79009);
        --colors-foreground-fg-white: var(--colors-base-white, #ffffff);
        --colors-text-text-brand-primary: var(--colors-brand-900, #2c0900);
        --colors-text-text-brand-secondary: var(--colors-brand-700, #581301);
        --colors-text-text-brand-tertiary: var(--colors-brand-600, #b02602);
        --colors-text-text-brand-tertiary-alt: var(--colors-brand-600, #b02602);
        --colors-text-text-disabled: var(--colors-gray-500, #667085);
        --colors-text-text-error-primary: var(--colors-error-600, #d92d20);
        --colors-text-text-placeholder: var(--colors-gray-500, #667085);
        --colors-text-text-placeholder-subtle: var(--colors-gray-300, #d0d5dd);
        --colors-text-text-primary: var(--colors-gray-900, #101828);
        --colors-text-text-primary-on-brand: var(--colors-base-white, #ffffff);
        --colors-text-text-quarterary: var(--colors-gray-500, #667085);
        --colors-text-text-quarterary-on-brand: var(--colors-brand-300, #ea8267);
        --colors-text-text-secondary: var(--colors-gray-700, #344054);
        --colors-text-text-secondary-hover: var(--colors-gray-800, #182230);
        --colors-text-text-secondary-on-brand: var(--colors-brand-200, #ee9781);
        --colors-text-text-success-primary: var(--colors-success-600, #079455);
        --colors-text-text-tertiary: var(--colors-gray-600, #475467);
        --colors-text-text-tertiary-hover: var(--colors-gray-700, #344054);
        --colors-text-text-tertiary-on-brand: var(--colors-brand-200, #ee9781);
        --colors-text-text-warning-primary: var(--colors-warning-600, #dc6803);
        --colors-text-text-white: var(--colors-base-white, #ffffff);
        --component-colors-alpha-alpha-black-10: #0000001a;
        --component-colors-alpha-alpha-black-100: #000000;
        --component-colors-alpha-alpha-black-20: #00000033;
        --component-colors-alpha-alpha-black-30: #0000004d;
        --component-colors-alpha-alpha-black-40: #00000066;
        --component-colors-alpha-alpha-black-50: #00000080;
        --component-colors-alpha-alpha-black-60: #00000099;
        --component-colors-alpha-alpha-black-70: #000000b2;
        --component-colors-alpha-alpha-black-80: #000000cc;
        --component-colors-alpha-alpha-black-90: #000000e5;
        --component-colors-alpha-alpha-brand-10: #dc2f021a;
        --component-colors-alpha-alpha-brand-100: #dc2f02;
        --component-colors-alpha-alpha-brand-20: #dc2f0233;
        --component-colors-alpha-alpha-brand-30: #dc2f024d;
        --component-colors-alpha-alpha-brand-40: #dc2f0266;
        --component-colors-alpha-alpha-brand-50: #dc2f0280;
        --component-colors-alpha-alpha-brand-60: #dc2f0299;
        --component-colors-alpha-alpha-brand-70: #dc2f02b2;
        --component-colors-alpha-alpha-brand-80: #dc2f02cc;
        --component-colors-alpha-alpha-brand-90: #dc2f02e5;
        --component-colors-alpha-alpha-white-10: #ffffff1a;
        --component-colors-alpha-alpha-white-100: #ffffff;
        --component-colors-alpha-alpha-white-20: #ffffff33;
        --component-colors-alpha-alpha-white-30: #ffffff4d;
        --component-colors-alpha-alpha-white-40: #ffffff66;
        --component-colors-alpha-alpha-white-50: #ffffff80;
        --component-colors-alpha-alpha-white-60: #ffffff99;
        --component-colors-alpha-alpha-white-70: #ffffffb2;
        --component-colors-alpha-alpha-white-80: #ffffffcc;
        --component-colors-alpha-alpha-white-90: #ffffffe5;
        --component-colors-components-app-store-badges-app-store-badge-border: #a6a6a6;
        --component-colors-components-application-navigation-nav-item-button-icon-fg: var(--colors-gray-500, #667085);
        --component-colors-components-application-navigation-nav-item-button-icon-fg-active: var(--colors-gray-700, #344054);
        --component-colors-components-application-navigation-nav-item-icon-fg: var(--colors-gray-500, #667085);
        --component-colors-components-application-navigation-nav-item-icon-fg-active: var(--colors-gray-500, #667085);
        --component-colors-components-avatars-avatar-bg: var(--colors-gray-100, #f2f4f7);
        --component-colors-components-avatars-avatar-contrast-border: #00000014;
        --component-colors-components-avatars-avatar-focus-border: #98a2b324;
        --component-colors-components-avatars-avatar-profile-photo-border: var(--colors-base-white, #ffffff);
        --component-colors-components-breadcrumbs-breadcrumb-bg-hover: var(--colors-gray-50, #f9fafb);
        --component-colors-components-breadcrumbs-breadcrumb-brand-bg-hover: var(--colors-brand-50, #f8d5cc);
        --component-colors-components-breadcrumbs-breadcrumb-brand-fg-hover: var(--colors-brand-700, #581301);
        --component-colors-components-breadcrumbs-breadcrumb-brand-icon-fg-hover: var(--colors-brand-700, #581301);
        --component-colors-components-breadcrumbs-breadcrumb-fg: var(--colors-gray-600, #475467);
        --component-colors-components-breadcrumbs-breadcrumb-fg-hover: var(--colors-gray-700, #344054);
        --component-colors-components-breadcrumbs-breadcrumb-icon-fg: var(--colors-gray-500, #667085);
        --component-colors-components-breadcrumbs-breadcrumb-icon-fg-hover: var(--colors-gray-700, #344054);
        --component-colors-components-buttons-primary-button-primary-bg: var(--colors-brand-600, #b02602);
        --component-colors-components-buttons-primary-button-primary-bg-hover: var(--colors-brand-700, #581301);
        --component-colors-components-buttons-primary-button-primary-border: var(--colors-brand-600, #b02602);
        --component-colors-components-buttons-primary-button-primary-border-hover: var(--colors-brand-700, #581301);
        --component-colors-components-buttons-primary-button-primary-fg: var(--colors-base-white, #ffffff);
        --component-colors-components-buttons-primary-button-primary-fg-hover: var(--colors-base-white, #ffffff);
        --component-colors-components-buttons-primary-error-button-primary-error-bg: var(--colors-error-600, #d92d20);
        --component-colors-components-buttons-primary-error-button-primary-error-bg-hover: var(--colors-error-700, #b42318);
        --component-colors-components-buttons-primary-error-button-primary-error-border: var(--colors-error-600, #d92d20);
        --component-colors-components-buttons-primary-error-button-primary-error-border-hover: var(--colors-error-700, #b42318);
        --component-colors-components-buttons-primary-error-button-primary-error-fg: var(--colors-base-white, #ffffff);
        --component-colors-components-buttons-primary-error-button-primary-error-fg-hover: var(--colors-base-white, #ffffff);
        --component-colors-components-buttons-secondary-button-secondary-bg: var(--colors-base-white, #ffffff);
        --component-colors-components-buttons-secondary-button-secondary-bg-hover: var(--colors-gray-50, #f9fafb);
        --component-colors-components-buttons-secondary-button-secondary-border: var(--colors-gray-300, #d0d5dd);
        --component-colors-components-buttons-secondary-button-secondary-border-hover: var(--colors-gray-300, #d0d5dd);
        --component-colors-components-buttons-secondary-button-secondary-fg: var(--colors-gray-700, #344054);
        --component-colors-components-buttons-secondary-button-secondary-fg-hover: var(--colors-gray-800, #182230);
        --component-colors-components-buttons-secondary-color-button-secondary-color-bg: var(--colors-base-white, #ffffff);
        --component-colors-components-buttons-secondary-color-button-secondary-color-bg-hover: var(--colors-brand-50, #f8d5cc);
        --component-colors-components-buttons-secondary-color-button-secondary-color-border: var(--colors-brand-300, #ea8267);
        --component-colors-components-buttons-secondary-color-button-secondary-color-border-hover: var(--colors-brand-300, #ea8267);
        --component-colors-components-buttons-secondary-color-button-secondary-color-fg: var(--colors-brand-700, #581301);
        --component-colors-components-buttons-secondary-color-button-secondary-color-fg-hover: var(--colors-brand-800, #420e01);
        --component-colors-components-buttons-secondary-error-button-secondary-error-bg: var(--colors-base-white, #ffffff);
        --component-colors-components-buttons-secondary-error-button-secondary-error-bg-hover: var(--colors-error-50, #fef3f2);
        --component-colors-components-buttons-secondary-error-button-secondary-error-border: var(--colors-error-300, #fda29b);
        --component-colors-components-buttons-secondary-error-button-secondary-error-border-hover: var(--colors-error-300, #fda29b);
        --component-colors-components-buttons-secondary-error-button-secondary-error-fg: var(--colors-error-700, #b42318);
        --component-colors-components-buttons-secondary-error-button-secondary-error-fg-hover: var(--colors-error-800, #912018);
        --component-colors-components-buttons-tertiary-button-tertiary-bg-hover: var(--colors-gray-50, #f9fafb);
        --component-colors-components-buttons-tertiary-button-tertiary-fg: var(--colors-gray-600, #475467);
        --component-colors-components-buttons-tertiary-button-tertiary-fg-hover: var(--colors-gray-700, #344054);
        --component-colors-components-buttons-tertiary-color-button-tertiary-color-bg-hover: var(--colors-brand-50, #f8d5cc);
        --component-colors-components-buttons-tertiary-color-button-tertiary-color-fg: var(--colors-brand-700, #581301);
        --component-colors-components-buttons-tertiary-color-button-tertiary-color-fg-hover: var(--colors-brand-800, #420e01);
        --component-colors-components-buttons-tertiary-error-button-tertiary-error-bg-hover: var(--colors-error-50, #fef3f2);
        --component-colors-components-buttons-tertiary-error-button-tertiary-error-fg: var(--colors-error-700, #b42318);
        --component-colors-components-buttons-tertiary-error-button-tertiary-error-fg-hover: var(--colors-error-800, #912018);
        --component-colors-components-footers-footer-badge-bg: var(--colors-success-50, #ecfdf3);
        --component-colors-components-footers-footer-badge-border: var(--colors-success-200, #abefc6);
        --component-colors-components-footers-footer-badge-fg: var(--colors-success-700, #067647);
        --component-colors-components-footers-footer-button-fg: var(--colors-brand-200, #ee9781);
        --component-colors-components-footers-footer-button-fg-hover: var(--colors-base-white, #ffffff);
        --component-colors-components-header-sections-header-abstract-100-bg: var(--colors-brand-100, #f1ac9a);
        --component-colors-components-header-sections-header-abstract-200-bg: var(--colors-brand-200, #ee9781);
        --component-colors-components-header-sections-header-abstract-300-bg: var(--colors-brand-300, #ea8267);
        --component-colors-components-header-sections-header-abstract-50-bg: var(--colors-brand-50, #f8d5cc);
        --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-brand: var(--colors-base-white, #ffffff);
        --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-error: var(--colors-base-white, #ffffff);
        --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-gray: var(--colors-base-white, #ffffff);
        --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-success: var(--colors-base-white, #ffffff);
        --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-warning: var(--colors-base-white, #ffffff);
        --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-brand: var(--colors-brand-600, #b02602);
        --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-error: var(--colors-error-600, #d92d20);
        --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-gray: var(--colors-gray-500, #667085);
        --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-success: var(--colors-success-600, #079455);
        --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-warning: var(--colors-warning-600, #dc6803);
        --component-colors-components-icons-featured-icons-modern-featured-icon-modern-border: var(--colors-gray-200, #eaecf0);
        --component-colors-components-icons-icons-icon-fg-brand: var(--colors-brand-600, #b02602);
        --component-colors-components-icons-icons-icon-fg-brand-on-brand: var(--colors-brand-200, #ee9781);
        --component-colors-components-icons-social-icons-social-icon-fg-angellist: var(--colors-base-black, #000000);
        --component-colors-components-icons-social-icons-social-icon-fg-apple: var(--colors-base-black, #000000);
        --component-colors-components-icons-social-icons-social-icon-fg-github: var(--colors-base-black, #000000);
        --component-colors-components-icons-social-icons-social-icon-fg-instagram: #000100;
        --component-colors-components-icons-social-icons-social-icon-fg-tumblr: #001935;
        --component-colors-components-icons-social-icons-social-icon-fg-x: #242e36;
        --component-colors-components-mockups-screen-mockup-border: var(--colors-gray-900, #101828);
        --component-colors-components-sliders-slider-handle-bg: var(--colors-base-white, #ffffff);
        --component-colors-components-sliders-slider-handle-border: var(--colors-border-border-brand-solid, #b02602);
        --component-colors-components-thumbnail-thumbnail-badge-brand-fg: var(--colors-brand-700, #581301);
        --component-colors-components-thumbnail-thumbnail-badge-success-fg: var(--colors-success-700, #067647);
        --component-colors-components-toggles-toggle-button-fg-disabled: var(--colors-gray-50, #f9fafb);
        --component-colors-components-tooltips-tooltip-supporting-text: var(--colors-gray-300, #d0d5dd);
        --component-colors-components-wysiwyg-editor-wysiwyg-editor-icon-fg: var(--colors-gray-400, #98a2b3);
        --component-colors-components-wysiwyg-editor-wysiwyg-editor-icon-fg-active: var(--colors-gray-500, #667085);
        --component-colors-utility-blue-utility-blue-100: var(--colors-blue-100, #d1e9ff);
        --component-colors-utility-blue-utility-blue-200: var(--colors-blue-200, #b2ddff);
        --component-colors-utility-blue-utility-blue-300: var(--colors-blue-300, #84caff);
        --component-colors-utility-blue-utility-blue-400: var(--colors-blue-400, #53b1fd);
        --component-colors-utility-blue-utility-blue-50: var(--colors-blue-50, #eff8ff);
        --component-colors-utility-blue-utility-blue-500: var(--colors-blue-500, #2e90fa);
        --component-colors-utility-blue-utility-blue-600: var(--colors-blue-600, #1570ef);
        --component-colors-utility-blue-utility-blue-700: var(--colors-blue-700, #175cd3);
        --component-colors-utility-blue-dark-utility-blue-dark-100: var(--colors-blue-dark-100, #d1e0ff);
        --component-colors-utility-blue-dark-utility-blue-dark-200: var(--colors-blue-dark-200, #b2ccff);
        --component-colors-utility-blue-dark-utility-blue-dark-300: var(--colors-blue-dark-300, #84adff);
        --component-colors-utility-blue-dark-utility-blue-dark-400: var(--colors-blue-dark-400, #528bff);
        --component-colors-utility-blue-dark-utility-blue-dark-50: var(--colors-blue-dark-50, #eff4ff);
        --component-colors-utility-blue-dark-utility-blue-dark-500: var(--colors-blue-dark-500, #2970ff);
        --component-colors-utility-blue-dark-utility-blue-dark-600: var(--colors-blue-dark-600, #155eef);
        --component-colors-utility-blue-dark-utility-blue-dark-700: var(--colors-blue-dark-700, #004eeb);
        --component-colors-utility-blue-light-utility-blue-light-100: var(--colors-blue-light-100, #e0f2fe);
        --component-colors-utility-blue-light-utility-blue-light-200: var(--colors-blue-light-200, #b9e6fe);
        --component-colors-utility-blue-light-utility-blue-light-300: var(--colors-blue-light-300, #7cd4fd);
        --component-colors-utility-blue-light-utility-blue-light-400: var(--colors-blue-light-400, #36bffa);
        --component-colors-utility-blue-light-utility-blue-light-50: var(--colors-blue-light-50, #f0f9ff);
        --component-colors-utility-blue-light-utility-blue-light-500: var(--colors-blue-light-500, #0ba5ec);
        --component-colors-utility-blue-light-utility-blue-light-600: var(--colors-blue-light-600, #0086c9);
        --component-colors-utility-blue-light-utility-blue-light-700: var(--colors-blue-light-700, #026aa2);
        --component-colors-utility-brand-utility-brand-100: var(--colors-brand-100, #f1ac9a);
        --component-colors-utility-brand-utility-brand-100-alt: var(--colors-brand-100, #f1ac9a);
        --component-colors-utility-brand-utility-brand-200: var(--colors-brand-200, #ee9781);
        --component-colors-utility-brand-utility-brand-200-alt: var(--colors-brand-200, #ee9781);
        --component-colors-utility-brand-utility-brand-300: var(--colors-brand-300, #ea8267);
        --component-colors-utility-brand-utility-brand-300-alt: var(--colors-brand-300, #ea8267);
        --component-colors-utility-brand-utility-brand-400: var(--colors-brand-400, #e0441b);
        --component-colors-utility-brand-utility-brand-400-alt: var(--colors-brand-400, #e0441b);
        --component-colors-utility-brand-utility-brand-50: var(--colors-brand-50, #f8d5cc);
        --component-colors-utility-brand-utility-brand-500: var(--colors-brand-500, #dc2f02);
        --component-colors-utility-brand-utility-brand-500-alt: var(--colors-brand-500, #dc2f02);
        --component-colors-utility-brand-utility-brand-50-alt: var(--colors-brand-50, #f8d5cc);
        --component-colors-utility-brand-utility-brand-600: var(--colors-brand-600, #b02602);
        --component-colors-utility-brand-utility-brand-600-alt: var(--colors-brand-600, #b02602);
        --component-colors-utility-brand-utility-brand-700: var(--colors-brand-700, #581301);
        --component-colors-utility-brand-utility-brand-700-alt: var(--colors-brand-700, #581301);
        --component-colors-utility-brand-utility-brand-800: var(--colors-brand-800, #420e01);
        --component-colors-utility-brand-utility-brand-800-alt: var(--colors-brand-800, #420e01);
        --component-colors-utility-brand-utility-brand-900: var(--colors-brand-900, #2c0900);
        --component-colors-utility-brand-utility-brand-900-alt: var(--colors-brand-900, #2c0900);
        --component-colors-utility-error-utility-error-100: var(--colors-error-100, #fee4e2);
        --component-colors-utility-error-utility-error-200: var(--colors-error-200, #fecdca);
        --component-colors-utility-error-utility-error-300: var(--colors-error-300, #fda29b);
        --component-colors-utility-error-utility-error-400: var(--colors-error-400, #f97066);
        --component-colors-utility-error-utility-error-50: var(--colors-error-50, #fef3f2);
        --component-colors-utility-error-utility-error-500: var(--colors-error-500, #f04438);
        --component-colors-utility-error-utility-error-600: var(--colors-error-600, #d92d20);
        --component-colors-utility-error-utility-error-700: var(--colors-error-700, #b42318);
        --component-colors-utility-fuchsia-utility-fuchsia-100: var(--colors-fuchsia-100, #fbe8ff);
        --component-colors-utility-fuchsia-utility-fuchsia-200: var(--colors-fuchsia-200, #f6d0fe);
        --component-colors-utility-fuchsia-utility-fuchsia-300: var(--colors-fuchsia-300, #eeaafd);
        --component-colors-utility-fuchsia-utility-fuchsia-400: var(--colors-fuchsia-400, #e478fa);
        --component-colors-utility-fuchsia-utility-fuchsia-50: var(--colors-fuchsia-50, #fdf4ff);
        --component-colors-utility-fuchsia-utility-fuchsia-500: var(--colors-fuchsia-500, #d444f1);
        --component-colors-utility-fuchsia-utility-fuchsia-600: var(--colors-fuchsia-600, #ba24d5);
        --component-colors-utility-fuchsia-utility-fuchsia-700: var(--colors-fuchsia-700, #9f1ab1);
        --component-colors-utility-gray-utility-gray-100: var(--colors-gray-100, #f2f4f7);
        --component-colors-utility-gray-utility-gray-200: var(--colors-gray-200, #eaecf0);
        --component-colors-utility-gray-utility-gray-300: var(--colors-gray-300, #d0d5dd);
        --component-colors-utility-gray-utility-gray-400: var(--colors-gray-400, #98a2b3);
        --component-colors-utility-gray-utility-gray-50: var(--colors-gray-50, #f9fafb);
        --component-colors-utility-gray-utility-gray-500: var(--colors-gray-500, #667085);
        --component-colors-utility-gray-utility-gray-600: var(--colors-gray-600, #475467);
        --component-colors-utility-gray-utility-gray-700: var(--colors-gray-700, #344054);
        --component-colors-utility-gray-utility-gray-800: var(--colors-gray-800, #182230);
        --component-colors-utility-gray-utility-gray-900: var(--colors-gray-900, #101828);
        --component-colors-utility-gray-blue-utility-gray-blue-100: var(--colors-gray-blue-100, #eaecf5);
        --component-colors-utility-gray-blue-utility-gray-blue-200: var(--colors-gray-blue-200, #d5d9eb);
        --component-colors-utility-gray-blue-utility-gray-blue-300: var(--colors-gray-blue-300, #b3b8db);
        --component-colors-utility-gray-blue-utility-gray-blue-400: var(--colors-gray-blue-400, #717bbc);
        --component-colors-utility-gray-blue-utility-gray-blue-50: var(--colors-gray-blue-50, #f8f9fc);
        --component-colors-utility-gray-blue-utility-gray-blue-500: var(--colors-gray-blue-500, #4e5ba6);
        --component-colors-utility-gray-blue-utility-gray-blue-600: var(--colors-gray-blue-600, #3e4784);
        --component-colors-utility-gray-blue-utility-gray-blue-700: var(--colors-gray-blue-700, #363f72);
        --component-colors-utility-indigo-utility-indigo-100: var(--colors-indigo-100, #e0eaff);
        --component-colors-utility-indigo-utility-indigo-200: var(--colors-indigo-200, #c7d7fe);
        --component-colors-utility-indigo-utility-indigo-300: var(--colors-indigo-300, #a4bcfd);
        --component-colors-utility-indigo-utility-indigo-400: var(--colors-indigo-400, #8098f9);
        --component-colors-utility-indigo-utility-indigo-50: var(--colors-indigo-50, #eef4ff);
        --component-colors-utility-indigo-utility-indigo-500: var(--colors-indigo-500, #6172f3);
        --component-colors-utility-indigo-utility-indigo-600: var(--colors-indigo-600, #444ce7);
        --component-colors-utility-indigo-utility-indigo-700: var(--colors-indigo-700, #3538cd);
        --component-colors-utility-orange-utility-orange-100: var(--colors-orange-100, #fdead7);
        --component-colors-utility-orange-utility-orange-200: var(--colors-orange-200, #f9dbaf);
        --component-colors-utility-orange-utility-orange-300: var(--colors-orange-300, #f7b27a);
        --component-colors-utility-orange-utility-orange-400: var(--colors-orange-400, #f38744);
        --component-colors-utility-orange-utility-orange-50: var(--colors-orange-50, #fef6ee);
        --component-colors-utility-orange-utility-orange-500: var(--colors-orange-500, #ef6820);
        --component-colors-utility-orange-utility-orange-600: var(--colors-orange-600, #e04f16);
        --component-colors-utility-orange-utility-orange-700: var(--colors-orange-700, #b93815);
        --component-colors-utility-orange-dark-utility-orange-dark-100: var(--colors-orange-dark-100, #ffe6d5);
        --component-colors-utility-orange-dark-utility-orange-dark-200: var(--colors-orange-dark-200, #ffd6ae);
        --component-colors-utility-orange-dark-utility-orange-dark-300: var(--colors-orange-dark-300, #ff9c66);
        --component-colors-utility-orange-dark-utility-orange-dark-400: var(--colors-orange-dark-400, #ff692e);
        --component-colors-utility-orange-dark-utility-orange-dark-50: var(--colors-orange-dark-50, #fff4ed);
        --component-colors-utility-orange-dark-utility-orange-dark-500: var(--colors-orange-dark-500, #ff4405);
        --component-colors-utility-orange-dark-utility-orange-dark-600: var(--colors-orange-dark-600, #e62e05);
        --component-colors-utility-orange-dark-utility-orange-dark-700: var(--colors-orange-dark-700, #bc1b06);
        --component-colors-utility-pink-utility-pink-100: var(--colors-pink-100, #fce7f6);
        --component-colors-utility-pink-utility-pink-200: var(--colors-pink-200, #fcceee);
        --component-colors-utility-pink-utility-pink-300: var(--colors-pink-300, #faa7e0);
        --component-colors-utility-pink-utility-pink-400: var(--colors-pink-400, #f670c7);
        --component-colors-utility-pink-utility-pink-50: var(--colors-pink-50, #fdf2fa);
        --component-colors-utility-pink-utility-pink-500: var(--colors-pink-500, #ee46bc);
        --component-colors-utility-pink-utility-pink-600: var(--colors-pink-600, #dd2590);
        --component-colors-utility-pink-utility-pink-700: var(--colors-pink-700, #c11574);
        --component-colors-utility-purple-utility-purple-100: var(--colors-purple-100, #ebe9fe);
        --component-colors-utility-purple-utility-purple-200: var(--colors-purple-200, #d9d6fe);
        --component-colors-utility-purple-utility-purple-300: var(--colors-purple-300, #bdb4fe);
        --component-colors-utility-purple-utility-purple-400: var(--colors-purple-400, #9b8afb);
        --component-colors-utility-purple-utility-purple-50: var(--colors-purple-50, #f4f3ff);
        --component-colors-utility-purple-utility-purple-500: var(--colors-purple-500, #7a5af8);
        --component-colors-utility-purple-utility-purple-600: var(--colors-purple-600, #6938ef);
        --component-colors-utility-purple-utility-purple-700: var(--colors-purple-700, #5925dc);
        --component-colors-utility-success-utility-success-100: var(--colors-success-100, #dcfae6);
        --component-colors-utility-success-utility-success-200: var(--colors-success-200, #abefc6);
        --component-colors-utility-success-utility-success-300: var(--colors-success-300, #75e0a7);
        --component-colors-utility-success-utility-success-400: var(--colors-success-400, #47cd89);
        --component-colors-utility-success-utility-success-50: var(--colors-success-50, #ecfdf3);
        --component-colors-utility-success-utility-success-500: var(--colors-success-500, #17b26a);
        --component-colors-utility-success-utility-success-600: var(--colors-success-600, #079455);
        --component-colors-utility-success-utility-success-700: var(--colors-success-700, #067647);
        --component-colors-utility-warning-utility-warning-100: var(--colors-warning-100, #fef0c7);
        --component-colors-utility-warning-utility-warning-200: var(--colors-warning-200, #fedf89);
        --component-colors-utility-warning-utility-warning-300: var(--colors-warning-300, #fec84b);
        --component-colors-utility-warning-utility-warning-400: var(--colors-warning-400, #fdb022);
        --component-colors-utility-warning-utility-warning-50: var(--colors-warning-50, #fffaeb);
        --component-colors-utility-warning-utility-warning-500: var(--colors-warning-500, #f79009);
        --component-colors-utility-warning-utility-warning-600: var(--colors-warning-600, #dc6803);
        --component-colors-utility-warning-utility-warning-700: var(--colors-warning-700, #b54708);
    }
}
