@media (prefers-color-scheme: light) {
  :root {
    --colors-gray-100: #f2f4f7;
    --colors-gray-200: #eaecf0;
    --colors-gray-25: #fcfcfd;
    --colors-gray-300: #d0d5dd;
    --colors-gray-400: #98a2b3;
    --colors-gray-50: #f9fafb;
    --colors-gray-500: #667085;
    --colors-gray-600: #475467;
    --colors-gray-700: #344054;
    --colors-gray-800: #182230;
    --colors-gray-900: #101828;
    --colors-gray-950: #0c111d;
    --colors-background-bg-active: var(--colors-gray-50, #f9fafb);
    --colors-background-bg-brand-primary: var(--colors-brand-50, #f8d5cc);
    --colors-background-bg-brand-primary-alt: var(--colors-brand-50, #f8d5cc);
    --colors-background-bg-brand-secondary: var(--colors-brand-100, #f1ac9a);
    --colors-background-bg-brand-section: var(--colors-brand-800, #420e01);
    --colors-background-bg-brand-section-subtle: var(
      --colors-brand-700,
      #581301
    );
    --colors-background-bg-brand-solid: var(--colors-brand-600, #b02602);
    --colors-background-bg-brand-solid-hover: var(--colors-brand-700, #581301);
    --colors-background-bg-disabled: var(--colors-gray-100, #f2f4f7);
    --colors-background-bg-disabled-subtle: var(--colors-gray-50, #f9fafb);
    --colors-background-bg-error-primary: var(--colors-error-50, #fef3f2);
    --colors-background-bg-error-secondary: var(--colors-error-100, #fee4e2);
    --colors-background-bg-error-solid: var(--colors-error-600, #d92d20);
    --colors-background-bg-overlay: var(--colors-gray-950, #0c111d);
    --colors-background-bg-primary: var(--colors-base-white, #ffffff);
    --colors-background-bg-primary-solid: var(--colors-gray-950, #0c111d);
    --colors-background-bg-primary-alt: var(--colors-base-white, #ffffff);
    --colors-background-bg-primary-hover: var(--colors-gray-50, #f9fafb);
    --colors-background-bg-quaternary: var(--colors-gray-200, #eaecf0);
    --colors-background-bg-secondary: var(--colors-gray-50, #f9fafb);
    --colors-background-bg-secondary-solid: var(--colors-gray-600, #475467);
    --colors-background-bg-secondary-alt: var(--colors-gray-50, #f9fafb);
    --colors-background-bg-secondary-hover: var(--colors-gray-100, #f2f4f7);
    --colors-background-bg-secondary-subtle: var(--colors-gray-25, #fcfcfd);
    --colors-background-bg-success-primary: var(--colors-success-50, #ecfdf3);
    --colors-background-bg-success-secondary: var(
      --colors-success-100,
      #dcfae6
    );
    --colors-background-bg-success-solid: var(--colors-success-600, #079455);
    --colors-background-bg-tertiary: var(--colors-gray-100, #f2f4f7);
    --colors-background-bg-warning-primary: var(--colors-warning-50, #fffaeb);
    --colors-background-bg-warning-secondary: var(
      --colors-warning-100,
      #fef0c7
    );
    --colors-background-bg-warning-solid: var(--colors-warning-600, #dc6803);
    --colors-border-border-brand: var(--colors-brand-300, #ea8267);
    --colors-border-border-brand-solid: var(--colors-brand-600, #b02602);
    --colors-border-border-brand-solid-alt: var(--colors-brand-600, #b02602);
    --colors-border-border-disabled: var(--colors-gray-300, #d0d5dd);
    --colors-border-border-disabled-subtle: var(--colors-gray-200, #eaecf0);
    --colors-border-border-error: var(--colors-error-300, #fda29b);
    --colors-border-border-error-solid: var(--colors-error-600, #d92d20);
    --colors-border-border-primary: var(--colors-gray-300, #d0d5dd);
    --colors-border-border-secondary: var(--colors-gray-200, #eaecf0);
    --colors-border-border-tertiary: var(--colors-gray-100, #f2f4f7);
    --colors-foreground-fg-brand-primary: var(--colors-brand-600, #b02602);
    --colors-foreground-fg-brand-primary-alt: var(--colors-brand-600, #b02602);
    --colors-foreground-fg-brand-secondary: var(--colors-brand-500, #dc2f02);
    --colors-foreground-fg-disabled: var(--colors-gray-400, #98a2b3);
    --colors-foreground-fg-disabled-subtle: var(--colors-gray-300, #d0d5dd);
    --colors-foreground-fg-error-primary: var(--colors-error-600, #d92d20);
    --colors-foreground-fg-error-secondary: var(--colors-error-500, #f04438);
    --colors-foreground-fg-primary: var(--colors-gray-900, #101828);
    --colors-foreground-fg-quarterary: var(--colors-gray-500, #667085);
    --colors-foreground-fg-quarterary-hover: var(--colors-gray-600, #475467);
    --colors-foreground-fg-quinary: var(--colors-gray-400, #98a2b3);
    --colors-foreground-fg-quinary-hover: var(--colors-gray-500, #667085);
    --colors-foreground-fg-secondary: var(--colors-gray-700, #344054);
    --colors-foreground-fg-secondary-hover: var(--colors-gray-800, #182230);
    --colors-foreground-fg-senary: var(--colors-gray-300, #d0d5dd);
    --colors-foreground-fg-success-primary: var(--colors-success-600, #079455);
    --colors-foreground-fg-success-secondary: var(
      --colors-success-500,
      #17b26a
    );
    --colors-foreground-fg-tertiary: var(--colors-gray-600, #475467);
    --colors-foreground-fg-tertiary-hover: var(--colors-gray-700, #344054);
    --colors-foreground-fg-warning-primary: var(--colors-warning-600, #dc6803);
    --colors-foreground-fg-warning-secondary: var(
      --colors-warning-500,
      #f79009
    );
    --colors-foreground-fg-white: var(--colors-base-white, #ffffff);
    --colors-text-text-brand-primary: var(--colors-brand-900, #2c0900);
    --colors-text-text-brand-secondary: var(--colors-brand-700, #581301);
    --colors-text-text-brand-tertiary: var(--colors-brand-600, #b02602);
    --colors-text-text-brand-tertiary-alt: var(--colors-brand-600, #b02602);
    --colors-text-text-disabled: var(--colors-gray-500, #667085);
    --colors-text-text-error-primary: var(--colors-error-600, #d92d20);
    --colors-text-text-placeholder: var(--colors-gray-500, #667085);
    --colors-text-text-placeholder-subtle: var(--colors-gray-300, #d0d5dd);
    --colors-text-text-primary: var(--colors-gray-900, #101828);
    --colors-text-text-primary-on-brand: var(--colors-base-white, #ffffff);
    --colors-text-text-quarterary: var(--colors-gray-500, #667085);
    --colors-text-text-quarterary-on-brand: var(--colors-brand-300, #ea8267);
    --colors-text-text-secondary: var(--colors-gray-700, #344054);
    --colors-text-text-secondary-hover: var(--colors-gray-800, #182230);
    --colors-text-text-secondary-on-brand: var(--colors-brand-200, #ee9781);
    --colors-text-text-success-primary: var(--colors-success-600, #079455);
    --colors-text-text-tertiary: var(--colors-gray-600, #475467);
    --colors-text-text-tertiary-hover: var(--colors-gray-700, #344054);
    --colors-text-text-tertiary-on-brand: var(--colors-brand-200, #ee9781);
    --colors-text-text-warning-primary: var(--colors-warning-600, #dc6803);
    --colors-text-text-white: var(--colors-base-white, #ffffff);
    --colors-text-text-display: var(--colors-gray-900);
    --colors-component-alpha-alpha-black-10: #0000001a;
    --colors-component-alpha-alpha-black-100: #000000;
    --colors-component-alpha-alpha-black-20: #00000033;
    --colors-component-alpha-alpha-black-30: #0000004d;
    --colors-component-alpha-alpha-black-40: #00000066;
    --colors-component-alpha-alpha-black-50: #00000080;
    --colors-component-alpha-alpha-black-60: #00000099;
    --colors-component-alpha-alpha-black-70: #000000b2;
    --colors-component-alpha-alpha-black-80: #000000cc;
    --colors-component-alpha-alpha-black-90: #000000e5;
    --colors-component-alpha-alpha-brand-10: #dc2f021a;
    --colors-component-alpha-alpha-brand-100: #dc2f02;
    --colors-component-alpha-alpha-brand-20: #dc2f0233;
    --colors-component-alpha-alpha-brand-30: #dc2f024d;
    --colors-component-alpha-alpha-brand-40: #dc2f0266;
    --colors-component-alpha-alpha-brand-50: #dc2f0280;
    --colors-component-alpha-alpha-brand-60: #dc2f0299;
    --colors-component-alpha-alpha-brand-70: #dc2f02b2;
    --colors-component-alpha-alpha-brand-80: #dc2f02cc;
    --colors-component-alpha-alpha-brand-90: #dc2f02e5;
    --colors-component-alpha-alpha-white-10: #ffffff1a;
    --colors-component-alpha-alpha-white-100: #ffffff;
    --colors-component-alpha-alpha-white-20: #ffffff33;
    --colors-component-alpha-alpha-white-30: #ffffff4d;
    --colors-component-alpha-alpha-white-40: #ffffff66;
    --colors-component-alpha-alpha-white-50: #ffffff80;
    --colors-component-alpha-alpha-white-60: #ffffff99;
    --colors-component-alpha-alpha-white-70: #ffffffb2;
    --colors-component-alpha-alpha-white-80: #ffffffcc;
    --colors-component-alpha-alpha-white-90: #ffffffe5;
    --colors-component-app-store-badges-app-store-badge-border: #a6a6a6;
    --colors-component-application-navigation-nav-item-button-icon-fg: var(
      --colors-gray-500,
      #667085
    );
    --colors-component-application-navigation-nav-item-button-icon-fg-active: var(
      --colors-gray-700,
      #344054
    );
    --colors-component-application-navigation-nav-item-icon-fg: var(
      --colors-gray-500,
      #667085
    );
    --colors-component-application-navigation-nav-item-icon-fg-active: var(
      --colors-gray-500,
      #667085
    );
    --colors-component-avatars-avatar-bg: var(--colors-gray-100, #f2f4f7);
    --colors-component-avatars-avatar-contrast-border: #00000014;
    --colors-component-avatars-avatar-focus-border: #98a2b324;
    --colors-component-avatars-avatar-profile-photo-border: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-breadcrumbs-breadcrumb-bg-hover: var(
      --colors-gray-50,
      #f9fafb
    );
    --colors-component-breadcrumbs-breadcrumb-brand-bg-hover: var(
      --colors-brand-50,
      #f8d5cc
    );
    --colors-component-breadcrumbs-breadcrumb-brand-fg-hover: var(
      --colors-brand-700,
      #581301
    );
    --colors-component-breadcrumbs-breadcrumb-brand-icon-fg-hover: var(
      --colors-brand-700,
      #581301
    );
    --colors-component-breadcrumbs-breadcrumb-fg: var(
      --colors-gray-600,
      #475467
    );
    --colors-component-breadcrumbs-breadcrumb-fg-hover: var(
      --colors-gray-700,
      #344054
    );
    --colors-component-breadcrumbs-breadcrumb-icon-fg: var(
      --colors-gray-500,
      #667085
    );
    --colors-component-breadcrumbs-breadcrumb-icon-fg-hover: var(
      --colors-gray-700,
      #344054
    );
    --colors-component-buttons-primary-button-primary-bg: var(
      --colors-brand-600,
      #b02602
    );
    --colors-component-buttons-primary-button-primary-bg-hover: var(
      --colors-brand-700,
      #581301
    );
    --colors-component-buttons-primary-button-primary-border: var(
      --colors-brand-600,
      #b02602
    );
    --colors-component-buttons-primary-button-primary-border-hover: var(
      --colors-brand-700,
      #581301
    );
    --colors-component-buttons-primary-button-primary-fg: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-buttons-primary-button-primary-fg-hover: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-buttons-primary-error-button-primary-error-bg: var(
      --colors-error-600,
      #d92d20
    );
    --colors-component-buttons-primary-error-button-primary-error-bg-hover: var(
      --colors-error-700,
      #b42318
    );
    --colors-component-buttons-primary-error-button-primary-error-border: var(
      --colors-error-600,
      #d92d20
    );
    --colors-component-buttons-primary-error-button-primary-error-border-hover: var(
      --colors-error-700,
      #b42318
    );
    --colors-component-buttons-primary-error-button-primary-error-fg: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-buttons-primary-error-button-primary-error-fg-hover: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-buttons-secondary-button-secondary-bg: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-buttons-secondary-button-secondary-bg-hover: var(
      --colors-gray-50,
      #f9fafb
    );
    --colors-component-buttons-secondary-button-secondary-border: var(
      --colors-gray-300,
      #d0d5dd
    );
    --colors-component-buttons-secondary-button-secondary-border-hover: var(
      --colors-gray-300,
      #d0d5dd
    );
    --colors-component-buttons-secondary-button-secondary-fg: var(
      --colors-gray-700,
      #344054
    );
    --colors-component-buttons-secondary-button-secondary-fg-hover: var(
      --colors-gray-800,
      #182230
    );
    --colors-component-buttons-secondary-color-button-secondary-color-bg: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-buttons-secondary-color-button-secondary-color-bg-hover: var(
      --colors-brand-50,
      #f8d5cc
    );
    --colors-component-buttons-secondary-color-button-secondary-color-border: var(
      --colors-brand-300,
      #ea8267
    );
    --colors-component-buttons-secondary-color-button-secondary-color-border-hover: var(
      --colors-brand-300,
      #ea8267
    );
    --colors-component-buttons-secondary-color-button-secondary-color-fg: var(
      --colors-brand-700,
      #581301
    );
    --colors-component-buttons-secondary-color-button-secondary-color-fg-hover: var(
      --colors-brand-800,
      #420e01
    );
    --colors-component-buttons-secondary-error-button-secondary-error-bg: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-buttons-secondary-error-button-secondary-error-bg-hover: var(
      --colors-error-50,
      #fef3f2
    );
    --colors-component-buttons-secondary-error-button-secondary-error-border: var(
      --colors-error-300,
      #fda29b
    );
    --colors-component-buttons-secondary-error-button-secondary-error-border-hover: var(
      --colors-error-300,
      #fda29b
    );
    --colors-component-buttons-secondary-error-button-secondary-error-fg: var(
      --colors-error-700,
      #b42318
    );
    --colors-component-buttons-secondary-error-button-secondary-error-fg-hover: var(
      --colors-error-800,
      #912018
    );
    --colors-component-buttons-tertiary-button-tertiary-bg-hover: var(
      --colors-gray-50,
      #f9fafb
    );
    --colors-component-buttons-tertiary-button-tertiary-fg: var(
      --colors-gray-600,
      #475467
    );
    --colors-component-buttons-tertiary-button-tertiary-fg-hover: var(
      --colors-gray-700,
      #344054
    );
    --colors-component-buttons-tertiary-color-button-tertiary-color-bg-hover: var(
      --colors-brand-50,
      #f8d5cc
    );
    --colors-component-buttons-tertiary-color-button-tertiary-color-fg: var(
      --colors-brand-700,
      #581301
    );
    --colors-component-buttons-tertiary-color-button-tertiary-color-fg-hover: var(
      --colors-brand-800,
      #420e01
    );
    --colors-component-buttons-tertiary-error-button-tertiary-error-bg-hover: var(
      --colors-error-50,
      #fef3f2
    );
    --colors-component-buttons-tertiary-error-button-tertiary-error-fg: var(
      --colors-error-700,
      #b42318
    );
    --colors-component-buttons-tertiary-error-button-tertiary-error-fg-hover: var(
      --colors-error-800,
      #912018
    );
    --colors-component-footers-footer-badge-bg: var(
      --colors-success-50,
      #ecfdf3
    );
    --colors-component-footers-footer-badge-border: var(
      --colors-success-200,
      #abefc6
    );
    --colors-component-footers-footer-badge-fg: var(
      --colors-success-700,
      #067647
    );
    --colors-component-footers-footer-button-fg: var(
      --colors-brand-200,
      #ee9781
    );
    --colors-component-footers-footer-button-fg-hover: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-header-sections-header-abstract-100-bg: var(
      --colors-brand-100,
      #f1ac9a
    );
    --colors-component-header-sections-header-abstract-200-bg: var(
      --colors-brand-200,
      #ee9781
    );
    --colors-component-header-sections-header-abstract-300-bg: var(
      --colors-brand-300,
      #ea8267
    );
    --colors-component-header-sections-header-abstract-50-bg: var(
      --colors-brand-50,
      #f8d5cc
    );
    --colors-component-icons-featured-icons-dark-featured-icon-dark-fg-brand: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-icons-featured-icons-dark-featured-icon-dark-fg-error: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-icons-featured-icons-dark-featured-icon-dark-fg-gray: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-icons-featured-icons-dark-featured-icon-dark-fg-success: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-icons-featured-icons-dark-featured-icon-dark-fg-warning: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-icons-featured-icons-light-featured-icon-light-fg-brand: var(
      --colors-brand-600,
      #b02602
    );
    --colors-component-icons-featured-icons-light-featured-icon-light-fg-error: var(
      --colors-error-600,
      #d92d20
    );
    --colors-component-icons-featured-icons-light-featured-icon-light-fg-gray: var(
      --colors-gray-500,
      #667085
    );
    --colors-component-icons-featured-icons-light-featured-icon-light-fg-success: var(
      --colors-success-600,
      #079455
    );
    --colors-component-icons-featured-icons-light-featured-icon-light-fg-warning: var(
      --colors-warning-600,
      #dc6803
    );
    --colors-component-icons-featured-icons-modern-featured-icon-modern-border: var(
      --colors-gray-200,
      #eaecf0
    );
    --colors-component-icons-icons-icon-fg-brand: var(
      --colors-brand-600,
      #b02602
    );
    --colors-component-icons-icons-icon-fg-brand-on-brand: var(
      --colors-brand-200,
      #ee9781
    );
    --colors-component-icons-social-icons-social-icon-fg-angellist: var(
      --colors-base-black,
      #000000
    );
    --colors-component-icons-social-icons-social-icon-fg-apple: var(
      --colors-base-black,
      #000000
    );
    --colors-component-icons-social-icons-social-icon-fg-github: var(
      --colors-base-black,
      #000000
    );
    --colors-component-icons-social-icons-social-icon-fg-instagram: #000100;
    --colors-component-icons-social-icons-social-icon-fg-tumblr: #001935;
    --colors-component-icons-social-icons-social-icon-fg-x: #242e36;
    --colors-component-mockups-screen-mockup-border: var(
      --colors-gray-900,
      #101828
    );
    --colors-component-sliders-slider-handle-bg: var(
      --colors-base-white,
      #ffffff
    );
    --colors-component-sliders-slider-handle-border: var(
      --colors-border-border-brand-solid,
      #b02602
    );
    --colors-component-thumbnail-thumbnail-badge-brand-fg: var(
      --colors-brand-700,
      #581301
    );
    --colors-component-thumbnail-thumbnail-badge-success-fg: var(
      --colors-success-700,
      #067647
    );
    --colors-component-toggles-toggle-button-fg-disabled: var(
      --colors-gray-50,
      #f9fafb
    );
    --colors-component-tooltips-tooltip-supporting-text: var(
      --colors-gray-300,
      #d0d5dd
    );
    --colors-component-wysiwyg-editor-wysiwyg-editor-icon-fg: var(
      --colors-gray-400,
      #98a2b3
    );
    --colors-component-wysiwyg-editor-wysiwyg-editor-icon-fg-active: var(
      --colors-gray-500,
      #667085
    );
    --colors-component-utility-brand-utility-brand-100: var(
      --colors-brand-100,
      #f1ac9a
    );
    --colors-component-utility-brand-utility-brand-100-alt: var(
      --colors-brand-100,
      #f1ac9a
    );
    --colors-component-utility-brand-utility-brand-200: var(
      --colors-brand-200,
      #ee9781
    );
    --colors-component-utility-brand-utility-brand-200-alt: var(
      --colors-brand-200,
      #ee9781
    );
    --colors-component-utility-brand-utility-brand-300: var(
      --colors-brand-300,
      #ea8267
    );
    --colors-component-utility-brand-utility-brand-300-alt: var(
      --colors-brand-300,
      #ea8267
    );
    --colors-component-utility-brand-utility-brand-400: var(
      --colors-brand-400,
      #e0441b
    );
    --colors-component-utility-brand-utility-brand-400-alt: var(
      --colors-brand-400,
      #e0441b
    );
    --colors-component-utility-brand-utility-brand-50: var(
      --colors-brand-50,
      #f8d5cc
    );
    --colors-component-utility-brand-utility-brand-500: var(
      --colors-brand-500,
      #dc2f02
    );
    --colors-component-utility-brand-utility-brand-500-alt: var(
      --colors-brand-500,
      #dc2f02
    );
    --colors-component-utility-brand-utility-brand-50-alt: var(
      --colors-brand-50,
      #f8d5cc
    );
    --colors-component-utility-brand-utility-brand-600: var(
      --colors-brand-600,
      #b02602
    );
    --colors-component-utility-brand-utility-brand-600-alt: var(
      --colors-brand-600,
      #b02602
    );
    --colors-component-utility-brand-utility-brand-700: var(
      --colors-brand-700,
      #581301
    );
    --colors-component-utility-brand-utility-brand-700-alt: var(
      --colors-brand-700,
      #581301
    );
    --colors-component-utility-brand-utility-brand-800: var(
      --colors-brand-800,
      #420e01
    );
    --colors-component-utility-brand-utility-brand-800-alt: var(
      --colors-brand-800,
      #420e01
    );
    --colors-component-utility-brand-utility-brand-900: var(
      --colors-brand-900,
      #2c0900
    );
    --colors-component-utility-brand-utility-brand-900-alt: var(
      --colors-brand-900,
      #2c0900
    );
    --colors-component-utility-error-utility-error-100: var(
      --colors-error-100,
      #fee4e2
    );
    --colors-component-utility-error-utility-error-200: var(
      --colors-error-200,
      #fecdca
    );
    --colors-component-utility-error-utility-error-300: var(
      --colors-error-300,
      #fda29b
    );
    --colors-component-utility-error-utility-error-400: var(
      --colors-error-400,
      #f97066
    );
    --colors-component-utility-error-utility-error-50: var(
      --colors-error-50,
      #fef3f2
    );
    --colors-component-utility-error-utility-error-500: var(
      --colors-error-500,
      #f04438
    );
    --colors-component-utility-error-utility-error-600: var(
      --colors-error-600,
      #d92d20
    );
    --colors-component-utility-error-utility-error-700: var(
      --colors-error-700,
      #b42318
    );
    --colors-component-utility-success-utility-success-100: var(
      --colors-success-100,
      #dcfae6
    );
    --colors-component-utility-success-utility-success-200: var(
      --colors-success-200,
      #abefc6
    );
    --colors-component-utility-success-utility-success-300: var(
      --colors-success-300,
      #75e0a7
    );
    --colors-component-utility-success-utility-success-400: var(
      --colors-success-400,
      #47cd89
    );
    --colors-component-utility-success-utility-success-50: var(
      --colors-success-50,
      #ecfdf3
    );
    --colors-component-utility-success-utility-success-500: var(
      --colors-success-500,
      #17b26a
    );
    --colors-component-utility-success-utility-success-600: var(
      --colors-success-600,
      #079455
    );
    --colors-component-utility-success-utility-success-700: var(
      --colors-success-700,
      #067647
    );
    --colors-component-utility-warning-utility-warning-100: var(
      --colors-warning-100,
      #fef0c7
    );
    --colors-component-utility-warning-utility-warning-200: var(
      --colors-warning-200,
      #fedf89
    );
    --colors-component-utility-warning-utility-warning-300: var(
      --colors-warning-300,
      #fec84b
    );
    --colors-component-utility-warning-utility-warning-400: var(
      --colors-warning-400,
      #fdb022
    );
    --colors-component-utility-warning-utility-warning-50: var(
      --colors-warning-50,
      #fffaeb
    );
    --colors-component-utility-warning-utility-warning-500: var(
      --colors-warning-500,
      #f79009
    );
    --colors-component-utility-warning-utility-warning-600: var(
      --colors-warning-600,
      #dc6803
    );
    --colors-component-utility-warning-utility-warning-700: var(
      --colors-warning-700,
      #b54708
    );
  }
}
