.button {
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--border-radius-md);
  font-weight: 700;
  font-size: var(--text-size-text-sm);
  font-style: normal;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 1px 2px 0 #10182850;
  transition: all .1s ease-in-out;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  &:hover {
    box-shadow: none; 
    text-decoration: none;
  }

  &:not(.primary):not(.secondary) {
    color: var(--colors-component-buttons-secondary-button-secondary-fg);
    border-color: var(--colors-component-buttons-secondary-button-secondary-border);

    &:hover {
      background-color: var(--colors-component-buttons-secondary-button-secondary-bg-hover);
      color: var(--colors-component-buttons-secondary-button-secondary-fg-hover);
    }

    &:focus {
      border-color: var(--colors-component-buttons-secondary-button-secondary-border);
    }
  }

  &:is(.primary) {
    background: var(--colors-component-buttons-primary-button-primary-bg);
    color: var(--colors-component-buttons-primary-button-primary-fg);
    border-color: var(--colors-component-buttons-primary-button-primary-border);
  
    &:hover {
      background: var(--colors-component-buttons-primary-button-primary-bg-hover);
      color: var(--colors-component-buttons-primary-button-primary-fg);
      border-color: var(--colors-component-buttons-primary-button-primary-bg-hover);
    }

    &:focus {
      border-color: var(--colors-component-buttons-primary-button-primary-border);
    }
  }

  &:is(.secondary) {
    background: var(--colors-component-buttons-secondary-color-button-secondary-color-bg);
    color: var(--colors-component-buttons-secondary-color-button-secondary-color-fg);
    border-color: var(--colors-component-buttons-secondary-color-button-secondary-color-border);
  
    &:hover {
      background: var(--colors-component-buttons-secondary-color-button-secondary-color-bg-hover);
      color: var(--colors-component-buttons-secondary-color-button-secondary-color-fg-hover);
      border-color: var(--colors-component-buttons-secondary-color-button-secondary-color-border-hover);
    }

    &:focus {
      border-color: var(--colors-component-buttons-secondary-color-button-secondary-color-bg);
    }
  }
}
