.section.fragment-container.team-container {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-12);
  padding-block: var(--spacing-12);

  & .default-content-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 'title text button primary-button';
    row-gap: var(--spacing-4);

    & .button-container {
      margin: 0;
    }

    & .button:not(.primary) {
      grid-area: button;
    }

    & .button.primary {
      grid-area: primary-button;
    }
  }
}

@media (min-width: 768px) {
  .section.fragment-container.team-container {
    & .default-content-wrapper {
      gap: var(--spacing-6) var(--spacing-4);
      
      /*
      grid-template-areas: 'title button primary-button' 'description button primary-button';
      grid-template-columns: 1fr auto auto;
      grid-template-rows: auto auto;
      */
      grid-template: 
        'title button primary-button' auto
        'description button primary-button' auto
        / 1fr auto auto;
    
      & p:not(.button-container) {
        grid-area: description;
        margin-top: 0;
        max-width: 85ch;

        & + p:not(.button-container) {
          margin-top: var(--spacing-4);
        }
      }

      & .button-container {
        align-self: center;
      }
    }
  }

}

.fragment.full-bleed.two-columns {
  &.section {
    max-width: unset;
    padding: var(--spacing-10) 0;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-10);
  }

  &:not(.section) {
    display: grid;
    grid-template-areas: 'full-bleed' 'column';
    grid-template-rows: auto auto;
    overflow: hidden;

    & .form-wrapper,
    & .default-content-wrapper:not(.image-content) {
      grid-area: column;
      padding: var(--spacing-8);
      padding-block-end: var(--spacing-4);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0;

      & h2 {
        font-size: var(--text-size-display-xs);
        font-weight: 700;
        line-height: 2rem;
      }

      & p {
        margin-block: var(--spacing-1);
        color: var(--colors-text-text-tertiary);
      }

      & ul {
        margin: var(--spacing-4) 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2);

        & li {
          padding: var(--spacing-2);
          display: flex;
          gap: var(--spacing-2);
          color: var(--colors-text-text-tertiary);

          /* stylelint-disable-next-line no-descending-specificity */
          &:has(a) {
            padding-block: 0;
          }

          & a {
            padding-block: var(--spacing-2);
          }
        }

        & .icon {
          width: var(--spacing-4);
          height: var(--spacing-4);
          display: inline-flex;

          &:not(.icon-map-pin) {
            align-self: center;
          }
        }
      }
    }

    & .default-content-wrapper.image-content {
      grid-area: full-bleed;

      & picture,
      & img {
        aspect-ratio: 16 / 9;
        height: 100%;
        max-width: unset;
        object-fit: cover;
        max-height: 60vh;
      }
    }

  }
}


@media (min-width: 50rem) {
  .fragment.full-bleed.two-columns {
    &.section {
      gap: var(--spacing-10) 0;

      & .fragment-wrapper:nth-child(even) .fragment.full-bleed.block {
        grid-template-areas: 'full-bleed column';

        & .default-content-wrapper:not(.image-content) {
          padding-inline: var(--spacing-10);
        }

        & .image-content {
          grid-area: full-bleed;
          padding-inline-end: var(--spacing-10);
        }
      }

      & .fragment-wrapper:nth-child(odd) .fragment.full-bleed.block {
        grid-template-areas: 'column full-bleed';

        & .form-wrapper,
        & .default-content-wrapper:not(.image-content) {
          padding-inline-end: var(--spacing-10);
        }

        & .image-content {
          grid-area: full-bleed;
          padding-inline-start: var(--spacing-10);
        }
      }
    }

    &:not(.section) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      & .form-wrapper,
      & .default-content-wrapper:not(.image-content) {
        padding-block: var(--spacing-20);

        & h2 {
          font-size: var(--text-size-display-sm);
        }
      }

      & .default-content-wrapper.image-content {
        & picture,
        & img {
          aspect-ratio: unset;
        }
      }
    }
  }
}

@media (min-width: 80rem) {
  .fragment.full-bleed.two-columns {
    &.section {
      padding: var(--spacing-20) 0;
      gap: var(--spacing-20) 0;

      & .fragment-wrapper:nth-child(even) .fragment.full-bleed.block {
        grid-template-areas: 'full-bleed full-bleed column sidebar';

        & .form-wrapper,
        & .default-content-wrapper:not(.image-content) {
          padding-inline-end: 0;
        }
      }

      & .fragment-wrapper:nth-child(odd) .fragment.full-bleed.block {
        grid-template-areas: 'sidebar column full-bleed full-bleed';

        & .form-wrapper,
        & .default-content-wrapper:not(.image-content) {
          padding-inline-start: 0;
        }

        & .image-content {
          grid-area: full-bleed;
        }
      }
    }

    &:not(.section) {
      display: grid;
      grid-template-columns: var(--layout-grid-template-columns-full-bleed-two-columns);
      grid-template-rows: auto;
    }
  }
}
