.fragment-wrapper {
  grid-column: full-width;

  &:has(.breakout-left),
  &:has(.breakout-right) {
    grid-template-columns: subgrid;
    display: grid;
  }

  .two-columns {
    --two-column-grid-flow: row;
    --two-column-margin-block: var(--spacing-8);

    display: grid;
    grid-auto-flow: var(--two-column-grid-flow);
    margin-block: var(--two-column-margin-block);
    grid-column: full-width;
    grid-template-columns: subgrid;
    grid-template-rows: [image-start] auto [image-end content-start] auto [content-end];

    .default-content-wrapper {
      grid-column: content;
      grid-row: content;
      padding: var(--spacing-6);

      &.image-content {
        grid-column: full-width;
        grid-row: image;
        padding: 0;
      }

      & :last-child {
        padding-block-end: 0;
        margin-block-end: 0;
      }
    }

    .image-content {
      grid-column: image;

      & picture,
      & img {
        aspect-ratio: 16 / 9;
        height: 100%;
        max-width: unset;
        object-fit: cover;
        max-height: 60vh;
      }
    }

    .default-content-wrapper:not(.image-content) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    & h2 {
      font-size: var(--text-size-display-xs);
      font-weight: 700;
      line-height: 2rem;
    }

    & p {
      margin-block: var(--spacing-1);
      color: var(--colors-text-text-tertiary);
    }

    & ul {
      margin: var(--spacing-4) 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-2);

      & li {
        padding: 0 var(--spacing-2);
        display: flex;
        gap: var(--spacing-2);
        color: var(--colors-text-text-tertiary);

        &:has(a) {
          padding-block: 0;
        }

        & a {
          padding-block: var(--spacing-2);
        }
      }

      & .icon {
        width: var(--spacing-4);
        height: var(--spacing-4);
        display: inline-flex;

        &:not(.icon-map-pin) {
          align-self: center;
        }
      }
    }
  }

  @media (min-width: 50rem) {
    &:has(.breakout-left) {
      grid-column: breakout-left;
      grid-template-columns: subgrid;
      display: grid;
    }

    &:has(.breakout-right) {
      grid-column: breakout-right;
      grid-template-columns: subgrid;
      display: grid;
    }

    .two-columns {
      --two-column-grid-flow: column;
      --two-column-margin-block: 0;
      
      grid-template-rows: unset;

      &.breakout-left {
        grid-column: breakout-left;

        .default-content-wrapper {
          grid-column: content-right;

          &.image-content {
            grid-column: breakout-left / content-left;
          }
        }
      }

      &.breakout-right {
        grid-column: breakout-right;

        .default-content-wrapper {
          grid-column: content-left;

          &.image-content {
            grid-column: content-right / breakout-right;
          }
        }
      }

      .default-content-wrapper {
        grid-row: unset;

        &.image-content {
          grid-column: image;
          grid-row: unset;
        }
      }
    }
  }

  @media (min-width: 70rem) {
    &:has(.breakout-left) {
      .default-content-wrapper:not(.image-content) {
        padding-inline-start: var(--spacing-10);
      }
    }

    &:has(.breakout-right) {
      .default-content-wrapper:not(.image-content) {
        padding-inline-end: var(--spacing-10);
      }
    }

    .two-columns {
      --two-column-image-width: 1.53fr;
    }
  }

  /*
  .two-columns {
    .image-content {
      grid-column: image;

      & picture,
      & img {
        aspect-ratio: 16 / 9;
        height: 100%;
        max-width: unset;
        object-fit: cover;
        max-height: 60vh;
      }
    }

    .default-content-wrapper:not(.image-content) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    & h2 {
      font-size: var(--text-size-display-xs);
      font-weight: 700;
      line-height: 2rem;
    }

    & p {
      margin-block: var(--spacing-1);
      color: var(--colors-text-text-tertiary);
    }

    & ul {
      margin: var(--spacing-4) 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-2);

      & li {
        padding: 0 var(--spacing-2);
        display: flex;
        gap: var(--spacing-2);
        color: var(--colors-text-text-tertiary);

        &:has(a) {
          padding-block: 0;
        }

        & a {
          padding-block: var(--spacing-2);
        }
      }

      & .icon {
        width: var(--spacing-4);
        height: var(--spacing-4);
        display: inline-flex;

        &:not(.icon-map-pin) {
          align-self: center;
        }
      }
    }
  }
  */
}

/*

@media (min-width: 768px) {
  .section.fragment-container.team-container {
    & .default-content-wrapper {
      gap: var(--spacing-6) var(--spacing-4);
      grid-template: 
        'title button primary-button' auto
        'description button primary-button' auto
        / 1fr auto auto;
    
      & p:not(.button-container) {
        grid-area: description;
        margin-top: 0;
        max-width: 85ch;

        & + p:not(.button-container) {
          margin-top: var(--spacing-4);
        }
      }

      & .button-container {
        align-self: center;
      }
    }
  }

}

.fragment.two-columns {
  &.section {
    max-width: unset;
    padding: var(--spacing-10) 0;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-10);
  }

  &:not(.section) {
    display: grid;
    grid-template-areas: 'full-bleed' 'column';
    grid-template-rows: auto auto;
    overflow: hidden;

    & .form-wrapper,
    & .default-content-wrapper:not(.image-content) {
      grid-area: column;
      padding: var(--spacing-8);
      padding-block-end: var(--spacing-4);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0;

      & h2 {
        font-size: var(--text-size-display-xs);
        font-weight: 700;
        line-height: 2rem;
      }

      & p {
        margin-block: var(--spacing-1);
        color: var(--colors-text-text-tertiary);
      }

      & ul {
        margin: var(--spacing-4) 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2);

        & li {
          padding: var(--spacing-2);
          display: flex;
          gap: var(--spacing-2);
          color: var(--colors-text-text-tertiary);

          &:has(a) {
            padding-block: 0;
          }

          & a {
            padding-block: var(--spacing-2);
          }
        }

        & .icon {
          width: var(--spacing-4);
          height: var(--spacing-4);
          display: inline-flex;

          &:not(.icon-map-pin) {
            align-self: center;
          }
        }
      }
    }

    & .default-content-wrapper.image-content {
      grid-area: full-bleed;

      & picture,
      & img {
        aspect-ratio: 16 / 9;
        height: 100%;
        max-width: unset;
        object-fit: cover;
        max-height: 60vh;
      }
    }
  }
}


@media (min-width: 50rem) {
  .fragment.full-bleed.two-columns {
    &.section {
      gap: var(--spacing-10) 0;

      & .fragment-wrapper:nth-child(even) .fragment.full-bleed.block {
        grid-template-areas: 'full-bleed column';

        & .default-content-wrapper:not(.image-content) {
          padding-inline: var(--spacing-10);
        }

        & .image-content {
          grid-area: full-bleed;
          padding-inline-end: var(--spacing-10);
        }
      }

      & .fragment-wrapper:nth-child(odd) .fragment.full-bleed.block {
        grid-template-areas: 'column full-bleed';

        & .form-wrapper,
        & .default-content-wrapper:not(.image-content) {
          padding-inline-end: var(--spacing-10);
        }

        & .image-content {
          grid-area: full-bleed;
          padding-inline-start: var(--spacing-10);
        }
      }
    }

    &:not(.section) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      & .form-wrapper,
      & .default-content-wrapper:not(.image-content) {
        padding-block: var(--spacing-20);

        & h2 {
          font-size: var(--text-size-display-sm);
        }
      }

      & .default-content-wrapper.image-content {
        & picture,
        & img {
          aspect-ratio: unset;
        }
      }
    }
  }
}

@media (min-width: 80rem) {
  .fragment.full-bleed.two-columns {
    &.section {
      padding: var(--spacing-20) 0;
      gap: var(--spacing-20) 0;

      & .fragment-wrapper:nth-child(even) .fragment.full-bleed.block {
        grid-template-areas: 'full-bleed full-bleed column sidebar';

        & .form-wrapper,
        & .default-content-wrapper:not(.image-content) {
          padding-inline-end: 0;
        }
      }

      & .fragment-wrapper:nth-child(odd) .fragment.full-bleed.block {
        grid-template-areas: 'sidebar column full-bleed full-bleed';

        & .form-wrapper,
        & .default-content-wrapper:not(.image-content) {
          padding-inline-start: 0;
        }

        & .image-content {
          grid-area: full-bleed;
        }
      }
    }

    &:not(.section) {
      display: grid;
      grid-template-columns: var(--layout-grid-template-columns-full-bleed-two-columns);
      grid-template-rows: auto;
    }
  }
}

*/