.faq-wrapper {
  background: var(--colors-background-bg-secondary);
  padding-block: var(--spacing-8);

  &:has(.full-width) {
    grid-column: full-width;
    display: grid;
    grid-template-columns: subgrid;
  }
}

.faq {
  grid-column: content;
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-8);
  flex-wrap: wrap;

  & .faq-item-wrapper {
    flex-basis: var(--spacing-40);

    &:empty {
      display: none;
    }
  }

  & .faq-item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);

    & p {
      margin: 0;
      color: var(--colors-text-text-tertiary);
    }

    & .icon {
      border: 1px solid var(--colors-border-border-primary);
      border-radius: var(--border-radius-sm);
      display: block;
      width: var(--spacing-12);
      height: var(--spacing-12);
      padding: var(--spacing-3);
    }
  }
}

@media (min-width: 50rem) {
  .faq-container {
    padding-block: var(--spacing-16);
  }

  .faq {
    grid-auto-flow: column;
    gap: var(--spacing-16) var(--spacing-8);
  }
}