.footer-wrapper {
  background: var(--colors-background-bg-brand-section);
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  & li {
    flex-basis: 50%;
  }

  & a {
    text-decoration: none;
    padding: var(--spacing-3) 0;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer.block {
  width: 100%;
  max-width: var(--layout-max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-4);
  color: var(--colors-text-text-quarterary-on-brand);

  /* stylelint-disable-next-line no-descending-specificity */
  & a {
    text-decoration: none;
    color: var(--colors-component-footers-footer-button-fg);

    &:hover {
      text-decoration: underline;
      color: var(--colors-component-footers-footer-button-fg-hover);
    }
  }
}

.footer-brand {
  & .icon {
    padding: var(--spacing-4) 0;
    width: var(--spacing-40);
    display: flex;
  }

  & p {
    margin: 0
  }
}


.footer-newsletter {
  margin: var(--spacing-8) 0;
}

.footer-tnc {
  border-top: 1px solid var(--colors-border-border-brand-solid-alt);
  padding: var(--spacing-6) 0 var(--spacing-2);;

  & ul {
    list-style: none;
    margin: 0;
    padding: var(--spacing-2) 0;
    display: flex;
    gap: var(--spacing-6);
  }
}

@media (min-width: 768px) {
  .footer.block {
    display: grid;
    grid-template-areas: 'brand brand newsletter'
                          'nav nav newsletter'
                          'tnc tnc tnc';
    grid-template-columns: 1.5fr .5fr 1.5fr;
  }

  .footer-brand {
    grid-area: brand;
  }

  .footer-nav {
    grid-area: nav;

    & ul {
      display: flex;
      gap: var(--spacing-6);

      & li {
        flex: 0 0 auto;
      }
    }
  }

  .footer-newsletter {
    grid-area: newsletter;
    color: var(--colors-text-text-primary-on-brand);
    margin: 0;
    align-self: center;
  }

  .footer-tnc {
    grid-area: tnc;
    margin-top: var(--spacing-6);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}