.footer.block {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-4);

  & .footer-brand {
    padding: var(--spacing-4) 0;
  }

  & .footer-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    & li {
      flex-basis: 50%;
    }

    & a {
      text-decoration: none;
      padding: var(--spacing-3) 0;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & .footer-newsletter {
    margin: var(--spacing-8) 0;
  }

  & .footer-tnc {
    border-top: 1px solid var(--colors-border-border-secondary);
    padding: var(--spacing-6) 0;

    & ul {
      list-style: none;
      margin: 0;
      padding: var(--spacing-2) 0;
      display: flex;
      gap: var(--spacing-6);

      & a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
