@import url("variables/index.css");
@import url("text.css");
@import url("form.css");
@import url("pages/contact.css");
@import url("elements/button.css");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--colors-background-bg-primary);
  width: 100vw;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

picture,
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.section {
  padding: var(--spacing-16) var(--spacing-4);
  width: 100%;
  max-width: var(--layout-max-width);
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

.section:empty {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .icon:not(.icon-logo-inverse):not(.icon-logo) img {
    filter: invert(1);
  }
}

.long-form-content .default-content-wrapper {
  max-width: 90ch;
  margin: var(--spacing-8) auto;

  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-block-start: var(--spacing-8);
  }

  & p {
    font-family: Roboto;
    font-size: var(--text-size-text-lg);
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    color: var(--colors-text-text-tertiary);
  }

  & picture {
    margin-block: var(--spacing-8);
  }
}