@import url("variables/index.css");
@import url("text.css");
@import url("form.css");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--colors-background-bg-primary);
  width: 100vw;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

picture,
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.section {
  padding: var(--spacing-4);
  width: 100%;
  max-width: var(--layout-max-width);
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}
