html, body {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    color: var(--colors-text-text-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--display-font-family);
    color: var(--colors-text-text-display, #101828);
}

h1, .h1, .display-xxl {
    font-family: Arvo;
    font-size: var(--text-size-display-xxl);
    font-style: normal;
    font-weight: 400;
    line-height: 5.625rem; /* 125% */
    letter-spacing: -0.09rem;
    margin-block: var(--spacing-2);
}

h2, h2, .display-xl {
    font-family: Arvo;
    font-size: var(--text-size-display-xl);
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem; /* 120% */
    letter-spacing: -0.075rem;
    margin-block: var(--spacing-2);
}

h3, .h3, .display-lg {
    font-family: Arvo;
    font-size: var(--text-size-display-lg);
    font-style: normal;
    font-weight: 400;
    line-height: 3.75rem; /* 125% */
    letter-spacing: -0.06rem;
    margin-block: var(--spacing-2);
}

h4, .h4, .diplay-md {
    font-family: Arvo;
    font-size: var(--text-size-display-md);
    font-style: normal;
    font-weight: 400;
    line-height: 2.75rem; /* 122.222% */
    letter-spacing: -0.045rem;
    margin-block: var(--spacing-2);
}

h5, .h5, .diplay-sm {
    font-family: Arvo;
    font-size: var(--text-size-display-sm);
    font-style: normal;
    font-weight: 400;
    line-height: 2.375rem; /* 126.667% */
    margin-block: var(--spacing-2);
}

h6, .h6, .display-xs {
    font-family: Arvo;
    font-size: var(--text-size-display-xs);
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
    margin-block: var(--spacing-2);
}

.text-xl {
    font-family: Roboto;
    font-size: var(--text-size-display-xl);
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* 150% */
}

.text-lg {
    font-family: Roboto;
    font-size: var(--text-size-display-lg);
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
}

.text-md {
    font-family: Roboto;
    font-size: var(--text-size-display-md);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}

.text-sm {
    font-family: Roboto;
    font-size: var(--text-size-display-sm);
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
}

.text-xs {
    font-family: Roboto;
    font-size: var(--text-size-display-xs);
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 150% */
}

a {
  color: var(--colors-component-buttons-tertiary-button-tertiary-fg);
  display: inline-flex;
  text-decoration: none;

  &:hover {
    color: var(--colors-component-buttons-tertiary-button-tertiary-fg-hover);
    text-decoration: underline;
  }
}

button, a {
  &:focus {
    outline: none;
    box-shadow: var(--focus-ring-box-shadow);
  }
}

.default-content-wrapper p:not(.button-container):not(:has(picture)) {
    max-width: 90ch;
    color: var(--colors-text-text-tertiary);
    font-size: var(--text-size-text-lg);
    line-height: 1.4rem;
}